<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      room1
    </div>
  </div>
  <div class="right-header">
    <div class="header-btn">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        KI
      </div>
      <div class="message-date">
        2021/7/7(Wed) 12:34:56
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        だる
      </div>
    </div>
  </div>
  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        K
      </div>
      <div class="message-date">
        2021/7/7(Wed) 12:34:57
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        はあ
      </div>
    </div>
  </div>
</div>
<div class="form">
  <div class="form-input">
    <input class="form-message" placeholder="type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>